body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3 !important;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  letter-spacing: 0;
  font-size: 0.919444rem;
  opacity: 1;
  visibility: inherit;
}

* {
  font-family: "Neue Montreal", sans-serif;
  box-sizing: border-box;
}

.hero-heading {
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  font-size: 7rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

.herow.line-1 {
  display: flex;
  margin-bottom: -0.1rem;
  -webkit-box-align: end;
  align-items: flex-end;
}

.herow {
  display: block;
  overflow: hidden;
}

.contact-button:focus {
  background-color: black;
  color: white;
}

.hero-intro-text {
  font-size: clamp(1rem, 1.46em, 1.5rem);
  letter-spacing: 0.02rem;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  width: 50rem;
  max-width: 100%;
  min-width: 460px;
}

.hero-description {
  /* font-size: clamp(0.7rem, 1em, 1rem); */
  letter-spacing: 0.02rem;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  width: 32rem;
  max-width: 100%;
  min-width: 460px;
  display: inline;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.5333333333333333rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading {
    font-size: 7.2em;
  }
}

@media screen and (max-width: 767px) {
  .hero-intro-text {
    font-size: 1rem;
  }
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f3f3f3;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #f3f3f3;
  opacity: 1;
}

.hire-title {
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02rem;
}

.section-cta {
  position: relative;
  overflow: hidden;
  padding-top: 5.5em;
  padding-bottom: 6.75rem;
}

.hire-me {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hire-me-text {
  color: #e9e9e9;
  font-size: 20rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .hire-me-text {
    font-size: 15vw;
  }
}

.swiper {
  width: 50vw;
  height: auto;
}

@media (max-width: 576px) {
  .swiper {
    width: 70vw;
    height: auto;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 50vw;
  height: auto;
  border-radius: 10px;
  background-color: azure;
  border: solid 1px rgb(203, 201, 201);
}

@media (max-width: 576px) {
  .swiper-slide img {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    background-color: azure;
    border: solid 1px rgb(203, 201, 201);
  }
}

.myswiper {
  width: 40vw;
  height: 30vh;
}
