body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  letter-spacing: 0;
  font-size: 0.919444rem;
  opacity: 1;
  visibility: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-heading {
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  font-size: 6.375em;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.hero-intro-text {
  font-size: clamp(1rem, 1.46em, 1.5rem);
  letter-spacing: 0.02em;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  width: 32em;
  max-width: 100%;
  min-width: 460px;
}

.hero-description {
  font-size: clamp(0.7rem, 1em, 1rem);
  letter-spacing: 0.02em;
  font-family: "Neue Montreal", sans-serif;
  color: #111;
  line-height: 1.6;
  width: 32em;
  max-width: 100%;
  min-width: 460px;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f3f3f3;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #f3f3f3;
  opacity: 1;
}

.hire-title {
  font-size: 4em;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
}

.section-cta {
  position: relative;
  overflow: hidden;
  padding-top: 5.5em;
  padding-bottom: 6.75em;
}

.hire-me {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hire-me-text {
  color: #e9e9e9;
  font-size: 21em;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .hire-me-text {
    font-size: 15vw;
  }
}
